name: DevOps CI-CD Pipeline

on:
  push:
    branches:
    - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Java
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Build with Maven
      run: |
        cd app/sample-spring-boot-app
        mvn clean package -DskipTests

    - name: Build Docker Image
      run: |
        cd app/sample-spring-boot-app
        docker build -t ${{ secrets.DOCKER_USERNAME }}/springboot-devops:latest .

    - name: Login to DockerHub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/springboot-devops:latest

  
